<ul>
    <li>
        <a href="/docs/lua">Lua Documentation</a>
        <ul>
            <li>
                <a href="/docs/lua#configuration">Configuration</a>
                <ul>
                {% for section in site.lua_doc_sections.configuration %}
                    <li>
                        <a href="/docs/lua#configuration-{{ section }}"><code>{{ section }}</code></a>
                    </li>
                {% endfor %}
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/docs/lua#utils">Utils</a>
                <ul>
                {% for section in site.lua_doc_sections.utils %}
                    <li>
                        <a href="/docs/lua#utils-{{ section[0] }}"><code>{{ section[0] }}</code></a>
                    </li>
                    <ul>
                    {% for subsection in section[1] %}
                        <li>
                            <a href="/docs/lua#utils-{{ subsection }}"><code>{{ subsection }}</code></a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endfor %}
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="/docs/d-bus">D-Bus Documentation</a>
        <ul>
            {% for interface in site.dbus_doc_sections %}
                <li>
                    <a href="/docs/d-bus#{{ interface[0] }}">{{ interface[0] | capitalize }}</code></a>
                    <ul>
                        {% for index in interface[1] %}
                            <li>
                                <a href="/docs/d-bus#{{ interface[0] }}{{ index }}"><code>{{ index }}</code></a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>
