<ul>
    <li>
        <a href="/docs/lua">Lua Documentation</a>
        <ul>
            <li>
                <a href="/docs/lua#configuration">Configuration</a>
                <ul>
                {% for section in site.lua_doc_sections.configuration %}
                    <li>
                        <a href="/docs/lua#configuration-{{ section }}"><code>{{ section }}</code></a>
                    </li>
                {% endfor %}
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/docs/lua#utils">Utils</a>
                <ul>
                {% for section in site.lua_doc_sections.utils %}
                    <li>
                        <a href="/docs/lua#utils-{{ section }}"><code>{{ section }}</code></a>
                    </li>
                {% endfor %}
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="/docs/d-bus">D-Bus Documentation</a>
        <!-- TODO Add d-bus document generation -->
    </li>
</ul>
