---
layout: default
---

<article class="post-listing">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
    {% for post in site.posts %}
      <div class="post-section">
        <div class="post-title-section">
            <a href="{{ post.url }}">
            <h4>
                {{ post.title }}
            </h4>
            </a>
            {{ post.date | split:" " | first}}
        </div>
          <p>
            <div class="post-spoiler-content">
                {{ post.content | truncate: 500 }}
            </div>
          </p>
      </div>
    {% endfor %}
  </div>

</article>
